{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block head %}
  {{ super() }}
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
{% endblock %}

{% block app_content %}

    <h1>Informe os parâmetros da eleição</h1>

       <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form, button_map={'submit':'primary'}) }}
        </div>
    </div>




{% endblock %}

